# deps
node_modules/
.pnpm-store/

# build
dist/
.next/
.turbo/
out/
*.tsbuildinfo

# expo
.expo/
.expo-shared/
apps/mobile/android/
apps/mobile/ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev.db*

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/
